body {
  /* font-family: 'Open Sans' !important; */
  /* font-family: "Baloo Tamma 2", cursive !important; */
  font-family: 'Poppins', sans-serif !important;
  background-color: #eff4fb;
  color: #2f2e41;
}
* {
  color: #2f2e41;
}
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  /* padding: 0 3%; */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Baloo Tamma 2", cursive !important; */
  font-family: 'Poppins', sans-serif !important;
  background-color: #eff4fb;
}
.appbar {
  /* font-family: "Baloo Tamma 2", cursive !important; */
  font-family: 'Poppins', sans-serif !important;
  font-weight: 100;
}
a:hover {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.container {
  margin-top: 8%;
  margin-bottom: 8%;
}

.title {
  /* font-family: "Baloo Tamma 2", cursive !important; */
  font-family: 'Poppins', sans-serif !important;
  font-size: 50px;
  color: #4a4b4e;
}

.subtitle {
  font-family: "Nunito", sans-serif !important;
  text-align: center;
  font-size: 20px;
  color: #22252f;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu:hover {
  font-weight: bold;
}

.img_task_list_home {
  width: 50% !important;
}
/* RESPONSIVE LAYOUT */

/* phone */
@media (min-width: 320px) and (max-width: 767px) {
  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 14px;
  }

  .img_task_list_home {
    width: 90% !important;
  }
}

/* phone landscape */
@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 16px;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 45px;
  }

  .subtitle {
    font-size: 18px;
  }
  .img_task_list_home {
    width: 80% !important;
  }
}

/* tablet landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .title {
    font-size: 45px;
  }
  .subtitle {
    font-size: 18px;
  }
}
.stuck {
  position: fixed;
  top: 0px;
  left: 0px;
  max-height: 100%;
  width: 190px;
  background-color: #eee;
  overflow-y: scroll;
}
.stuck p {
  margin: 10px;
}
.not-stuck {
  margin-left: 200px;
}

.side-container {
  overflow: auto;
  max-height: 100%;
  /* min-height: 100%;
  height: 100%; */
}

/* sidebar */
.sidebar {
  /* max-width: 220px; */
  min-width: 225px;
  height: 100vh;
  border-right:  1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 2rem;
  margin-right: 2rem;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #0f0f19;
  /* overflow-y: scroll; */
}

.sidebar:hover {
  overflow-y: scroll;
  position: -webkit-sticky;
  /* position: sticky; */
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  padding-right: 0px !important;
  padding-left: 0px !important;
  align-items: center;
}

.sidebar-item-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2rem;
}

.sidebar-item-icon {
  margin-right: 10px;
}

.sidebar-item-text {
  width: 100%;
  font-size: 13px;
}

.sidebar-item-expand-arrow {
  font-size: 1.2rem !important;
}

.sidebar-item-expand-arrow-expanded {
  color: #09bb12;
  font-weight: bold;
}
/* 2F2E41 */
.topbar{
  min-height: 60px;
  height: 60px;
  background-color: #88d38b;
  width: 100%;
  /* position: relative; */
  z-index: 999;
}

.container-content{
  padding-top: 1.5rem;
}

.sidebar-item-expand-arrow{
  color: white !important;
}

.swal2-popup {
  font-size: 13px !important;
  z-index: 999999999 !important;

}

.swal2-container {
  z-index: 999999999 !important;
}

.react-datetime-picker{
  width: 260px !important;
}
.form .react-datetime-picker{
  width: 350px !important;
}

.ant-table table { font-size: 10px; }

.notifications .container{
  margin-top: 0 !important;
}

/* .dropdown-toggle {
  width: 400px !important;
  white-space: normal !important;
  word-break: break-word !important;
} */

.dropdown-item{
  white-space: normal !important;
  word-break: break-word !important;
  font-size: 11px;
}

.count-notif{
  position: absolute;
  right: -6px;
  top: -10px;
  background-color: red;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  padding:3px 6px 1px 6px !important;
  color: white;
  border-radius: 25px;
}

.box-quil .ql-editor {
  min-height: 27em;
}

.quil-project .ql-editor {
  min-height: 15em;
}

.multiSelectContainer{
  font-size: 10px;
  
}

.chip, .singleChip {
  white-space: nowrap;
  font-size: 10px !important;
}

/* .navbar .nav li .dropdown-menu li a {white-space: normal !important;} */